%h1
  = @client.name

%p
  = link_to(t('actions.back'), clients_path)
  = link_to(t('actions.delete'), @client, method: :delete,
                                          data: { confirm: 'Are you sure?'})
